html
    head 
        title HOME
    body 
        center 
            h2 Welcome to our homepage! 
            b To experience our services you have to click below.
            br
            br 
            button(style="color: maroon;") 
                a(href='admin') Signin